<section class='Program_Select'>
  <% if request.query_string.include?('MIX-MACHINE') %>
    <%= image_tag('https://d1tr04ubbr03km.cloudfront.net/images/GROOVE LINE.webp') %>

    <h1 class='Program_Select--Title'>② 再生方法を選択してください。</h1>
    <%= link_to('全曲 シャッフル再生', players_path(q: 'shuffle_play'), class: 'Program_Select--Link') %>
  <% else %>
    <h1 class='Program_Select--Title'>① 番組を選択してください。</h1>
    <%= link_to('MIX MACHINE From. GROOVE LINE', program_selects_path(q: 'JOAV_MIX-MACHINE'), class: 'Program_Select--Link') %>
  <% end %>
</section>
